# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.docker

# IDE
.idea
.vscode

# Misc
README.md
*.md
